body {
  /* background: cornsilk;*/
 background: #000000;
 font-family: DIN-black, sans-serif;
 font-size: 16px;
}

@media (max-width: 540px) and (max-height: 320px) {
  body {
    font-size: 10px;
  }
}

h1 {
  color: #ffffff;
}

.buttons {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

button {
  font-weight: bold;
  font-size: 1.06em;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.app {
  width: 100%;
}

.day-name {
  padding: 10px 0 10px 6px;
  font-size: 1.25em;
}

.stages {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

.stage {
  padding-top: 10px;
  -webkit-flex-grow: 1;
  padding-left: 6px;
  padding-right: 6px;
}

.stage-name {
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 2px;
  text-decoration: underline;
  text-decoration-line: dotted;
}

.shows {
 /* max-width: 470px;*/
}

.show {
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 1px;
  padding-left: 5px;
}

.do {
  background-color: #547369;
  color: white;
}

.fr {
  background-color: #fc9833;
}

.sa {
  background-color: #6e5d4a;
  color: white;
}

.so {
  background-color: white;
}

.Hauptbühne {
  background-color: #f90784;
  color: black;
  order: 1;
}

.Zeltbühne {
  background-color: #3271cb;
  color: black;
  order: 3;
}

.Waldbühne {
  background-color: #4ec2dc;
  color: #ffffff; 
  order: 2;
}

.band {
  font-size: 1.25em;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: visible; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: gray; /* rgba(0,0,0,0.4); Black w/ opacity */
  padding: 10px 10px 2em 10px;
  margin-bottom: 2em;
  }

.modal-content {
  overflow: visible;
  max-width: 70%;
  font-size: 1.5em;
}